{% for lesson in lessons %}
                <div class="lesson-card bg-white rounded-lg shadow-md overflow-hidden">
                    {% if lesson.thumbnail %}
                        <img src="{{ lesson.thumbnail.url }}" class="w-full h-60 object-cover" alt="{{ lesson.title }} Thumbnail">
                    {% endif %}
                    <div class="p-4">
                        <h5 class="text-xl font-semibold">{{ lesson.title }}</h5>
                        <p class="text-gray-700">{{ lesson.description|truncatewords:20 }}</p>
                        <a href="{% url 'courses:lesson_detail' course_id=course.id lesson_id=lesson.id %}" class="mt-4 inline-block bg-green-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600">View Lesson</a>
                    </div>
                </div>
            {% empty %}
                <div class="col-span-1 md:col-span-3">
                    <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">No lessons available for this course.</strong>
                    </div>
                </div>
            {% endfor %}